.submit {
  border: 3px solid orange;
  border-radius: 10px;
  padding: 10px;
  /* width: auto; */
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 10px;
}

.input {
  height: 30px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.button {
  cursor: pointer;
  border-radius: 5px;
  padding: 12px 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
}

.button:hover,
.button:focus {
  color: aliceblue;
  background-color: green;
  transform: scale(1.1);
}

.button span {
  margin-right: 15px;
}

/* .form {

  padding: 10px;
  width: auto;
} */

.form {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: auto;
}
